@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Mulish", sans-serif; */

/* shared style */
:root{
    --orange: rgb(255, 84, 0);
    --dark2: rgb(66, 66, 71);
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Mulish", sans-serif;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

.logo h3 > span{
    color: var(--orange);

}
.logo img{
    width: 50px;
    height: 46px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

header , main , footer{
    width: 100%;
}

h3{
    font-size: 2.25rem;
    font-weight: 800;

}

li, p{
    font-size: 1.1rem;
    font-weight: 400;

}

img{
    width: 100%;
    height: 100%;
}

.btn-primary{
    padding: .8rem 2rem;
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
   font-family: Mulish;
   white-space: nowrap;
}

::placeholder {
    padding-left: 20px; 
}
::value { 
   padding-left: 20px; 
}

.description {
    width: 50%;
    margin: 0 auto;

}
.description h2{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}
.description p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 48px;

}
/* navbar style starts here */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


.navbar ul{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    
}



.navbar ul > li > a{
    color: var(--dark2);  
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    transition: color 1s ease-in-out;
}

.navbar ul > li > a:hover{
    color: var(--orange);
}

section{
    padding-top: 5rem;
}

.ham-burger{ 
    display: none;
}

/* navbar style ends here */

/* banner style stars here */
.explore_container{
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 6.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.explore_description h1{

    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
}

.explore_description p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 70%;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0 auto;
}

.travel-inputs{
    margin-top: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.travel-inputs input, 
.travel-inputs select{

    width: 174px;
    height: 52px;
    padding: 0 .5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.travel-inputs .btn-primary{
    width: 174px;
    height: 52px;
    padding: .8rem 1.5rem;
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/* banner style ends here */

/* <!-- Tour section  --> */
.tour-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.tour-container .left-box ul  li{
    list-style: circle;
    margin-left: 25px;
}

.tour-container .left-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .5rem;

}

.tour-container .left-box p, .tour-container .left-box li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.tour-container .btn-primary{
    width: 174px;
    height: 52px;
}

.tour-container .right-box img{
    width: 100%;
    height: 100%;
}

/* <!-- Tour section  --> */


/*  <!-- Choose Your Destination --> */
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.row-2{
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.7fr;
    margin: 1rem 0;
    gap: 1rem;

}
.row-3{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin: 1rem 0;
    gap: 1rem;

}

.destination_container img{
    filter: brightness(70%);
    height: 300px;
}


.country-card{
    position: relative;
}

.country{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    transform: translate(-50% , -50%);

}



/*  <!-- Choose Your Destination --> */


/* <!-- Why Choose Us section starts here --> */
.choose_container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.choose_container .cards img{
    width: 64px;
    height: 64px;
}

.choose_container .cards .card{
    padding: 32px;
    margin: 0 auto;
}


.choose_container .cards .card h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    padding-top: 2rem;

}

.choose_container .cards .card p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 1rem;

}

.choose_container .cards .colour-1{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);

}
.choose_container .cards .colour-2{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);

}
.choose_container  .colour-3{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    

}

/* <!-- Why Choose Us section ends here --> */

/* <!-- deals and discount section starts here --> */
.deals_container .boxes{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.deals_container .box-1 , .box-3 {
    height: 470px;
    background-image: url('../images/bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    

}

.deals_container .box-2 {
    height: 470px;
    background-image: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;

}
.deals_container .card{
    width: 40%;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
}

.deals_container .card .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px ;

    
}

.deals_container .card .icons .icon {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

}
.deals_container .card .icons .icon i{
    color: rgb(255, 84, 0);
    font-size: 19px;
}

.deals_container .card  h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    padding: 20px 0;
}


.deals_container .card p {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}

.deals_container .card  .price{
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 20px;
}
/* <!-- deals and discount section starts here --> */


/* <!-- A Simple Perfect Place To Get Lost --> */

.place-container{
    
    display: flex;
    gap: 30px;
    
}

.place-container .left-box ul  li{
    list-style: disc;
    margin-left: 25px;
    color: rgb(19, 19, 24);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.place-container .left-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .5rem;
    width: 40%;

}

.place-container .left-box p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.place-container .right-box{
    width: 60%;
} 

.place-container .right-box iframe{
    width:100%;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180.00deg,
     rgb(19, 19, 24) -31.958%,rgba(19, 19, 24, 0) 100%);
}




/* <!-- A Simple Perfect Place To Get Lost --> */

/* <!-- Newsletter starts here --> */
.news_container{
    display: grid;
    grid-template-columns: .6fr 1fr;
    gap: 25px;
    margin-bottom: 4rem;
}

.news_container .news_form{
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 2.5rem;


}

.news_container img{
    height: 422px;
}

.news_container .news_form h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    text-align: left;

}

.news_container .news_form p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 1rem;

    
}

.news_container .news_form hr{
    margin: 20px 0;
    color: rgba(19, 19, 24, 0.1);
}

.news_container .news_form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news_container .news_form form input[type='text'], input[type='email']{
    font-family: Mulish;
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    border: none;
}

.news_container .news_form form input[type='submit']{
    font-family: Mulish;
    width: 100%;
    border-radius: 8px;
    height: 52px;
    border: none;
    margin-top: 1rem;

}

.news_container .imgae_container p{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.news_container .imgae_container{
    position: relative;
}

.news_container .imgae_container .btn-primary{
    position: absolute;
    right: 1px;
    bottom: 73px;
    z-index: 2;
    rotate: -30deg;
}

.news_container .imgae_container p span{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 800;
    text-align: left;
    
}

/* <!-- Newsletter starts here --> */

/* footer section starts here */
.footer-section{
    background: rgba(19, 19, 24, 0.05);
    padding: 4rem 0;
}

.footer-section p{
    width: 70%;
    margin: 0 auto;
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;

}

.footer-section .social{
    width: 174.32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.footer-section .social i{
    height: 44px;
    font-size: 24px;
}
/* footer section starts here */


/* rsponsive starts here */
@media screen and (max-width:560px){
    .navbar ul{
        display: none;
    }

    .ham-burger{
        display: block;
    }
    h3{
        font-size: 26px;
    }
    p{
        font-size: 16px;
    }
    .ham-burger i{
        font-size: 26px;
        color: black;
    }

    .container{
        margin: 2rem auto;
    }


    .explore_description h1{
        font-size: 22px;

    }

    .explore_description p{
        width: 80%;
        font-size: 14px;
    }

    .explore_container .travel-inputs{
        flex-direction: column;
        margin: 0 20px;

    }

    .travel-inputs input, 
.travel-inputs select{

    width: 100%;
    margin: 1rem 0;
}

.travel-inputs .btn-primary{
    width: 100%;
    margin: 1rem 0;
}

.tour-container,
.row-1,
.row-2,
.row-3{
    
    grid-template-columns: 1fr ;
    
}

.tour-container .left-box ul  li{
    list-style: circle;
    margin-left: 25px;
}

.tour-container .left-box{
    padding-bottom: 20px;

}

.row-1 p, .row-2 p , .row-3 p{
    font-size: 20px;
}

.description {
    width: 90%;
    margin: 0 auto;

}
.description h2{
    font-size: 20px;

}
.description p{
    font-size: 14px;

}

.choose_container .cards{

    grid-template-columns: 1fr;

}
.deals_container .box-1 , .box-3 {
  
    justify-content: flex-end;
    padding-right: 0;
    

}

.deals_container .box-2 {
    
    justify-content: flex-end;
    padding-left: 0px;

}

.deals_container .card{
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;

}

.deals_container .card .icons {
    
    grid-template-columns: repeat(2, 1fr);
    align-items: left;
    

    
}
.deals_container .card .icons  .item-1{
    grid-column: 1 / span 2;

}
.deals_container .card  h3{
    font-size: 20px;
}


.deals_container .card p {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}


.deals_container .card p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.deals_container .card  .price{
   font-size: 16;
}

.place-container{
    flex-direction: column;   
}

.place-container .left-box ul  li{   
    font-size: 14px;
}

.place-container .left-box{
    width: 100%;

}

.place-container .left-box p{
    font-size: 14px;
}

.place-container .right-box{
    width: 100%;
} 

.place-container .right-box iframe{
    height: 200px;
}

/* news container */

.news_container{
    
    grid-template-columns: 1fr;
    
}

.news_container .news_form{
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 1rem;


}

.news_container img{
    height: 300px;
}

.news_container .news_form h3{
    font-size: 20px;

}

.news_container .news_form p{
    font-size: 14px;
    
}


.news_container .news_form form input[type='text'], input[type='email']{
    font-family: Mulish;
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    border: none;
}

.news_container .news_form form input[type='submit']{
    font-family: Mulish;
    width: 100%;
    border-radius: 8px;
    height: 52px;
    border: none;
    margin-top: 1rem;

}

.news_container .imgae_container p{   
    font-size: 15px;

}

.news_container .imgae_container p span{
    font-size: 20px;

    
}

.news_container .imgae_container{
    position: relative;
}

.news_container .imgae_container .btn-primary{
    position: absolute;
    right: 1px;
    bottom: 50px;
    z-index: 2;
    rotate: -30deg;
}




}
/* rsponsive starts here */